<link rel="stylesheet" href="css/tutorial.css" />
<h1>Adhoc SubProcess</h1>
<p>
    Ad-hoc ‌یکی از علائمي كه فقط مختص Subprocess ها است و با افزودن علامت '~' به قسمت مركزو پایین Subprocess نمايش داده می شود (شكل زير را مشاهده نماييد).
</p>
<img class="descImage fillImage" src="images/tutorial/Adhoc1.png" />
<p>
    از Ad-hoc Subprocess براي مشخص كردن بخشي از فرايند که فعالیت های این بخش (tasks or subprocesses) می توانند شرايط زير را داشته باشند، استفاده نماييد:
</p>
<ul>
    <li>ترتيب مشخصي نداشته باشند،</li>
    <li>چندین بار اجرا شوند و یا ،</li>
    <li>اجرا نشوند.</li>
</ul>
<p>
    هر قسمتی که از این نوع Subprocess استفاده می‌کند، تصمیم می‌گیرد که چکار کند و آن را چه زمانی انجام دهد. در ابتدای کار ممکن است برداشت شود که عدم اطلاع از اینکه داخل این Subprocess چه اتفاقی می‌افتد، کاری بیهوده و به درد نخور است، اما در حقیقت طبیعت بسیاری از فرایندها اینگونه بوده و شما اطلاعات دقیقی از آن ندارید و یا کارکنان به نحو دیگری وظایف مربوط به خود را انجام می‌دهند. در چنین مواردی می توان از Ad-hoc subprocess استفاده نمود تا مکان‌ها و نقاطی را که ممکن است فرایند در آنها به طور مطلوب عمل نکند را مشخص نمود، که با قدم نهادن در این مسیر می توان گام بلندی در راستای استاندارد سازی فرایندها برداشت.
</p>
<p>
    همچنین در BPMN 2. مشخص شده است که چه نمادهایی می‌توانند در Adhoc استفاده شوند و یا حق استفاده از آن‌ها وجود ندارد، که در ادامه به آنها اشاره مي شود:
</p>
<ul>
    <li>باید بیایند: Activity</li>
    <li>می‌توانند بیایند: Data objects, sequence flows, associations, groups, message flows, gateways و intermediate events .</li>
    <li>نباید بیایند: Start events  و End events, علايم conversations  و choreography .</li>

</ul>
<p>
    با استفاده از خصوصیات ذکر شده، می توان فرم های ترکیبی مانند شکل زیر ایجاد نمود که در اصطلاح به آنها weakly structured processes می گویند.
</p>
<p>
    در زير يك نمونه از آن را مشاهده مي نماييد.
</p>
<img class="descImage fillImage" src="images/tutorial/Adhoc2.png" />