<link rel="stylesheet" href="css/tutorial.css" />
<h1>Adhoc SubProcess</h1>
<p>
    ‌یکی از شاخص‌های مختص Subprocess ها Ad-hoc نامیده می‌شودکه با افزودن علامت ᷉ به قسمت پایینی Subprocess ایجاد می شود که در شکل ذیل نشان داده شده است.
</p>
<img class="descImage fillImage" src="images/tutorial/Adhoc1.png" />
<p>
    از Ad-hoc subprocess به منظور علامت زدن (مشخص نمودن) یک بخش استفاده می شود که فعالیت های این بخش (tasks or subprocesses) می توانند :
</p>
<ul>
    <li>در هر سفارشی اجرا شوند،</li>
    <li>چندین بار اجرا شوند و یا ،</li>
    <li>کنار گذاشته شوند.</li>
</ul>
<p>
    هر قسمتی که از این Subprocess استفاده می‌کند، تصمیم می‌گیرد که چکار کند و چه زمانی آن را انجام دهد. در ابتدای کار ممکن است برداشت شود که عدم اطلاع از اینکه داخل این Subprocess چه اتفاقی می‌افتد، کاری بیهوده و به درد نخور است. اما در حقیقت طبیعت بسیاری از فرایندها اینگونه بوده و شما اطلاعات دقیقی از آن ندارید و یا کارکنان به نحو دیگری وظایف مربوط به خود را انجام می‌دهند. در چنین مواردی می توان از Ad-hoc subprocess استفاده نمود تا مکان‌ها و نقاطی را که ممکن است فرایند در آنها به طور مطلوب عمل نکند را مشخص نمود، که با قدم نهادن در این مسیر می توان گام بلندی در راستای استاندارد سازی فرایندها برداشت. 
</p>
<p>
    همچنین در BPMN 2. مشخص شده است که چه نمادهایی می‌توانند در Adhoc استفاده شوند و یا حق استفاده از آن‌ها وجود ندارد، که در ادامه به آنها اشاره شده است:
</p>
<ul>
    <li>باید بیایند: فعالیت‌ها</li>
    <li>می‌توانند بیایند: داده‌ها مانند فرم‌ها، جریان های توالی، گروه‌ها، ارتباط ها، جریان پیام‌ها، Gateway ها و رویدادهای میانی.</li>
    <li>نباید بیایند: رویدادهای شروع و پایان و نماد‌های مربوط به گفتگو و نمایش.</li>

</ul>
<p>
    با استفاده از خصوصیات ذکر شده، می توان فرم های ترکیبی مانند شکل زیر ایجاد نمود که در اصطلاح به آنها فرایندهای ساختاری ضعیف (weakly structured processes) می گویند.
</p>
<p>
    یک فرایند خاص با فرم‌های آمیخته و ساختار فرایندی ضعیف به شکل ذیل ترسیم گشته است.
</p>
<img class="descImage fillImage" src="images/tutorial/Adhoc2.png" />