<p style="text-align:center">براي مشاهده بايد نسخه خود را به نسخه حرفه‌اي ارتقا دهيد</p>
<div style="padding-bottom:10px">
    <ons-button modifier="large--cta" ng-click="upgradeToPro()" ng-disabled="isPurchasing">
        ارتقا به نسخه حرفه‌اي
    </ons-button>
    <p style="color:red;text-align:right">توجه: براي ارتقا به نسخه حرفه‌اي بايد با حساب كاربري خود به برنامه بازار وارد شده باشيد</p>
    <p style="color:red;text-align:right">توجه: در صورتي كه برنامه را در دستگاه جديدي نصب كرديد و قبلا خريد نسخه حرفه‌اي را انجام داده‌ايد، دكمه بالا را لمس كنيد، خريد قبلي شما چك شده و بدون پرداخت هزينه، برنامه به نسخه حرفه‌اي ارتقا مي‌يابد</p>

</div>
