<link rel="stylesheet" href="css/tutorial.css" />
<h1>Call Activity</h1>
<p>
    در BPMN 1.2 ، بین embeded subprocess ها و reusable subprocessها تفاوت وجود داشت اين تفاوت در 2.0 BPMN نیز وجود دارد، اما نحوه تعریف آن متفاوت می باشد. در نسخه جدید، یک subprocess ذاتا embeded است و تنها زماني مي تواند فراخواني شود كه به صورت global تعريف شده باشد، براي فراخواني آنها بايد از Call Activity اسفاده كرد.
</p>
<p>
    یک embeded subprocess تنها در فرایندی که به آن تعلق دارد می تواند اجرا شود و نمی تواند درون خود Pool و Lane داشته باشد، اما می تواند درون یک Pool و یا یکی از Lane های فرایند اصلی قرار گیرد. علاوه بر این، embeded subprocess ممکن است دارای start event نباشد و در این حالت، استفاده از message start event يا timer start event مجاز نمی باشد. درواقع embeded subprocess چیزی بیشتر از بخشي محدود در دل فرایند اصلی نمی باشد که به طور کلی اهداف زیر را دنبال می کند:
</p>
<ul>
    <li>جلوگیری از بوجود آمدن پیچیدگی های غیر ضروری در مدل</li>
    <li>به منظور فرموله کردن یک collective statement (بیانیه جمعی) در قسمتی از فرایند اصلی با ضمیمه کردن eventها یا بکارگیری marker ها. (در قسمت های بعدی توضیح داده خواهد شد)</li>
</ul>
<p>
    از طرف ديگر، global subprocess ممکن است در فرایندهای کاملا متفاوتی اجرا شوند، چرا که ممکن است در عمل subprocess های بسیار زیادی در فرایند بارها و بارها استفاده شوند. مثال خوب در این زمینه تهیه یک کالا می باشد، که ممکن است مشتری سفارش داده باشد و یا به منظور تامین موجودی انبار باشد. مثال دیگر مرتبط با این موضوع می تواند صورتحسابی باشد که در اثر تحویل و یا تعمیر یک کالا تهیه و صادر می‌ شود که در نمودار زیر نمایش داده شده است. در این مثال توجه کنید که call activity ها با خطوط ضخیم تر اطراف فعالیت مشخص شده اند.
</p>
<img class="descImage fillImage" src="images/tutorial/Call11.png" />
<img class="descImage fillImage" src="images/tutorial/Call12.png" />
<img class="descImage fillImage" src="images/tutorial/Call13.png" />
<img class="descImage fillImage" src="images/tutorial/Call14.png" />
<img class="descImage fillImage" src="images/tutorial/Call15.png" />
<p>
    global subprocess ها می توانند Pool ها یا Lane های خاص خود را داشته باشند. embedded subprocess ها می توانند به تمامی داده هاي فرایند اصلی مستقيمت دسترسي داشته باشند، اما global subprocess ها برای چنین کاری نیاز به یک explicit assignement دارند تا قادر به خواندن اطلاعات باشند. برای درک بهتر این موضوع بهتر است به مثال زیر توجه شود. فرض کنید زمانی که واحد حسابداری شما قصد دارد صورت حسابی را برای تعمیر یک کالا صادر کند، به اطلاعات زیر نیاز دارد:
</p>
<ul>
    <li>آدرس قبض</li>
    <li>تاریخ تحویل </li>
    <li>شرح فعاليت انجام شده</li>
    <li>مبلغ صورت حساب</li>
    <li>تاریخ مورد انتظار پرداخت</li>
</ul>
<p>
    در همین راستا، مسئولین پردازش سفارش و نه فقط بخش تعمیر، بایستی این اطلاعات را فراهم نمایند. در این حالت آیا واحد حسابداری داده های موردنیاز را در قالب یک فرمت استاندارد نیاز دارد؟ این مسئله ارتباطات بین فرایندهای اصلی و global subprocess ها را به خوبی نشان می دهد که در BPMN به آن required data mapping می گویند. آیا توجه کرده اید که چگونه اغلب این مسائل عجیب با نیازهای سازمانی و انتظارات فرایند تطابق دارند؟ در این زمینه، BPMN به سادگی مارا به فرموله کردن مسائل بسیاری که به نظر بدیهی می رسند و یا در طراحی فرایند فراموش شده اند وا می دارد که فرموله کردن این مسائل، بهترین شانس را برای نگهداری داده های مورد نیاز در یک محیط به سرعت در حال تغییر با فرایندهای پیچیده فراهم می نماید.
</p>
