<link rel="stylesheet" href="css/tutorial.css" />
<h1>Call Activity</h1>
<p>
    در BPMN 1.2 ، با اختصاص یک ویژگی به subprocess، بین subprocess های تعبیه شده و قابل استفاده مجدد تفاوت ایجاد می شد. در 2.0 BPMN نیز، این اصل کماکان برقرار می باشد اما نحوه تعریف آن متفاوت می باشد. در نسخه جدید، اگر یک subprocess در مدل تعبیه شود، این subprocess تنها زمانی می تواند مجددا استفاده شود که به عنوان یک global subprocess تعریف شود و آنرا از طریق یک call activity به منبع آن ارجاع داد. به عبارت دیگر بایستی برای بکارگیری مجدد آنرا به subprocess تعبیه شده ارجاع داده شود.
</p>
<p>
    یک subprocess تعبیه شده تنها در فرایندی که به آن تعلق دارد می تواند رخ دهد و این subprocess نمی تواند شامل Pool ها و Lane ها باشد، اما می تواند درون یک Pool و یا یکی از Lane های فرایند اصلی قرار گیرد. علاوه بر این، subprocess تعبیه شده ممکن است دارای رویداد شروع نباشد و در این حالت، استفاده از رویدادهای شروع از نوع message یا timer مجاز نمی باشد. درواقع subprocess تعبیه شده چیزی بیشتر از ناحیه ای محدود در دل فرایند اصلی نمی باشد که به طور کلی اهداف زیر را دنبال می کند:
</p>
<ul>
    <li>جلوگیری از بوجود آمدن پیچیدگی های غیر ضروری در مدل</li>
    <li>به منظور فرموله کردن یک بیانیه جمعی در قسمتی از فرایند اصلی با ضمیمه کردن رویدادها یا بکارگیری marker ها. (در قسمت های بعدی توضیح داده خواهد شد)</li>
</ul>
<p>
    به عبارت دیگر، global subprocess ممکن است در فرایندهای کاملا متفاوتی اتفاق بیفتد چرا که ممکن است در عمل subprocess های بسیار زیادی در فرایند بارها و بارها استفاده شوند. مثال خوب در این زمینه تهیه یک کالا می باشد، که ممکن است مشتری سفارش داده باشد و یا به منظور تامین موجودی انبار باشد. مثال دیگر مرتبط با این موضوع می تواند صورتحسابی باشد که در اثر تحویل و یا تعمیر یک کالا تهیه و صادر می‌ شود که در نمودار زیر نمایش داده شده است. در این مثال توجه کنید که call activity ها با خطوط ضخیم تر اطراف فعالیت مشخص شده اند.
</p>
<img class="descImage fillImage" src="images/tutorial/Call11.png" />
<img class="descImage fillImage" src="images/tutorial/Call12.png" />
<img class="descImage fillImage" src="images/tutorial/Call13.png" />
<img class="descImage fillImage" src="images/tutorial/Call14.png" />
<img class="descImage fillImage" src="images/tutorial/Call15.png" />
<p>
    ارتباط بین یک global subprocess با فرایند اصلی اش به طور قابل توجهی نزدیک نبوده و آنها می توانند Pool ها یا Lane های خاص خود را داشته باشند. همچنین ارتباطات ضعیف نیز می تواند بر انتقال داده ها بین مدل اصلی و subprocess تاثیر بگذارد. در این حالت BPMN فرض می کند که embedded subprocess های می توانند تمامی داده ها فرایند اصلی را مستقیما بخوانند، اما global subprocess ها برای چنین کاری نیاز به یک تخصیص صریح و روشن دارند تا قادر به خواندن اطلاعات باشند. برای درک بهتر این موضوع بهتر است به مثال زیر توجه شود. فرض کنید زمانیکه واحد حسابداری شما قصد دارد صورت حسابی را برای تعمیر یک کالا صادر کند، به اطلاعات زیر نیاز دارد:
</p>
<ul>
    <li>آدرس قبض</li>
    <li>تاریخ تحویل عملکرد</li>
    <li>شرح عملکرد</li>
    <li>مبلغ صورت حساب</li>
    <li>تاریخ مورد انتظار پرداخت</li>
</ul>
<p>
    در همین راستا، مسئولین پردازش سفارش و نه فقط بخش تعمیر، بایستی این اطلاعات را فراهم نمایند. در این حالت آیا واحد حسابداری داده های موردنیاز را در قالب یک فرمت استاندارد نیاز دارد؟ این مسئله ارتباطات بین فرایندهای اصلی و global subprocess ها را به خوبی نشان می دهد که در BPMN به آن required data mapping می گویند. آیا توجه کرده اید که چگونه اغلب این مسائل عجیب با نیازهای سازمانی و انتظارات فرایند تطابق دارند؟ در این زمینه، BPMN به سادگی مارا به فرموله کردن مسائل بسیاری که به نظر بدیهی می رسند و یا در طراحی فرایند فراموش شده اند وا می دارد که فرموله کردن این مسائل، بهترین شانس را برای نگهداری داده های مورد نیاز در یک محیط به سرعت در حال تغییر با فرایندهای پیچیده فراهم می نماید.
</p>
