<link rel="stylesheet" href="css/tutorial.css" />
<h1>Compensation Events</h1>
<p>
    بعضی وقت ها ممکن در فرایند ما فعالیتی اجرا شود که گاهی اوقات نیاز به لغو آن تحت شرایط خاصی باشد. 
</p>
<p>
    در این رابطه می توان مثال هایی نظیر موارد زیر بیان نمود:
</p>
<ul>
    <li>رزرو بلیط هواپیما یا قطار</li>
    <li>رزرو کردن یک ماشین کرایه ای</li>
    <li>شارژ کردن یک کارت اعتباری</li>
    <li>راه اندازی یک ارائه دهنده خدمات</li>

</ul>
<p>
    به شکل زیر نگاه کنید: در این فرایند مشاهده می کنیم که شروع فرایند جمعه ساعت 1 بعداز ظهر می باشد. فرض می شود که همسر شما از شما می خواهد تا با همدیگر یه تماشای تئاتر بروید و یا برای صرف شام با دوستانتان به رستوران بروید. در هر دو مورد، ما بایستی یکسری کارها را الزاماً انجام دهیم. برای مثال اگر قرار باشد به تماشای تئاتر برویم بایستی بلیط رزرو کنیم و یا اگر قصد رفتن به رستوران را داشته باشیم بایستی هماهنگی های لازم را با دوستانمان انجام دهیم. مشکلی که در اینجا وجود دارد این است که با فرا رسیدن شب، ممکن است ما حوصله بیرون رفتن نداشته باشیم و مجبور شویم ترتیباتی را که برای تماشای تئاتر و یا صرف شام با دوستان تدارک دیده ایم لغو کنیم.
</p>
<img class="descImage fillImage" src="images/tutorial/Compensation1.png" />
<p>
    ما می توانیم قسمت آخر مدل بالا را با بکارگیری یک رویداد compensation خلاصه تر کنیم که در سکل زیر این موضوع نشان داده شده است:
</p>
<img class="descImage fillImage" src="images/tutorial/Compensation2.png" />
<p>
    در رابطه با رویداد compensation قوانین خاصی وجود دارد که در ادامه به آنها اشاره شده است:
</p>
<ul>
    <li>Throwing compensations ها به فرایندهای خود ارجاع داده می شوند ، از این رو خود رویداد می تواند در درون Pool موثر باشد. این موضوع نشان می دهد که چگونه این نوع رویداد با throwing message event متفاوت است.</li>
    <li>یک رویداد compensation ضمیمه شده تنها در صورتی که فعالیتی که به آن ضمیمه شده به طور کامل و با موفقیت اجرا شده باشد و فرایند منجر به اصلاح شود ، می تواند رخ دهد و این در حالیست که انواع رویدادهای ضمیمه شده دیگر تنها در صورتی می توانند رخ بدهند که فعالیتی که بر روی آن ضمیمه شده اند فعال شود.</li>
    <li>رویدادهای compensation ضمیمه شده از طریق وابستگی های مجازی به compensation tasks متصل می شوند و برای این اتصال نیازی به جریان های توالی ندارند. به همین دلیل BPMN بر روی این موضوع که compensation ها قابلیت انجام کارهایی فراتر از یک جریان فرایندی معمولی را دارند تاکید دارد.</li>

</ul>
<fieldset>
    <legend>استفاده از رویدادهای Compensation</legend>
    <p>
        مثال بیان شده در این قسمت می‌تواند به راحتی و خیلی خوب به شما نشان دهد که استفاده از این ساختار چقدر می‌تواند در زمان شما صرفه‌جویی ایجاد نماید. فرض کنید شما فرایندهای کسب و کار پیچیده‌ای که اغلب نیاز به جبران دارند را در اختیار دارید. تجربه نشان داده است که با درک درست از این ساختار و بکارگیری آن در این مدل‌ها می‌توانید بسیاری از پیچیدگی‌های ذاتی و تکنیکی در این مدل‌ها را خلاصه و ساده‌تر نمایید. همچنین با استفاده از این ساختار می‌توانید سریعاً به نقطه‌ای از فرایند که نیاز به اصلاح یا جبران دارد دست پیدا کنید. البته بایستی به این نکته نیز اشاره شود که ما از رویدادهای Compensation به صورت موردی و آن هم برای توصیف فرایندهای پیچیده استفاده می‌کنیم.
    </p>
</fieldset>

