<link rel="stylesheet" href="css/tutorial.css" />
<h1>Conditional Events</h1>

<p>
    گاهی اوقات ما فقط می خواهیم یک فرایند تحت شرایط خاصی شروع و یا ادامه پیدا کند. در اینجا هر چیزی می تواند به عنوان شرط درنظر گرفته شود و این باعث می شود که conditional event  نیز مانند timer event تنها بتواند در قالب یک catching event استفاده شود. از این رو فرایندی که خروجی اش یاعث ادامه و یا شروع فرایند دیگری می شود، نمی تواند به یک condition event ختم شود. در اینجا ما می توانیم فرایند سفارش پیتزا را با تعریف یکسری شرایط توسعه دهیم. اگر ما یک پیتزای فریز شده بخواهیم، فرایند به شکل نمودار زیر شروع می شود. در این حالت ما پیتزا را از فریزر برداشته و فر را روشن می کنیم اما فقط زمانی که دمای درون فر به 180 درجه سانتی گراد رسید پیتزا را درون فر قرار می دهیم و تنها زمانی که فرایند گرم کردن به اتمام برسد آن را از فر بیرون آورده و سرو می کنیم.
</p>
<img class="descImage fillImage" src="images/tutorial/Conditional1.png" />