<link rel="stylesheet" href="css/tutorial.css" />
<h1>Event Based SubProcess</h1>
<p>
    درBPMN 2.0 یک ماژول جدید با نام Event Subprocess معرفی شده است که این ماژول درون یک فرایند و یا Subprocess دیگر قرار می‌گیرد و با قالب خط نقطه‌چین شناسایی می‌شود.
</p>
<p>
    یک رویداد شروع همیشه یک Event Subprocess را به راه می‌اندازد و این فقط زمانی رخ می‌دهد که فرایند محصور در آن فعال باشد. Event Subprocess ها می‌توانند Interrupting (با وقفه) باشند که با خط ممتد نمایش داده می‌شوند و یا می توانند Non-Interrupting (بدون وقفه) باشند که با خط‌چین نمایش داده می‌شوند که این دقیقاً همان فرقی است که در رویدادهای میانی هم مشاهده شد. با توجه به نوع رویداد آغازین، Event Subprocess فرایند محصور را کنسل خواهد نمود و یا به طور همزمان اجرا خواهد شد. در ادامه نحوه کار یک event subprocess را با ارائه مثالی توضیح خواهیم داد:
</p>
<img class="descImage fillImage" src="images/tutorial/EventSub1.png" />
<p>
    فرض کنید ما دو نفراز دوستانمان رابرای صرف شام دعوت می‌کنیم. این عمل Subprocess تهیه شام، شامل انتخاب دستورغذا و سپس تهیه غذا را فعال می کند. حال فرض کنید که در هنگام آماده‌سازی غذا دوست دیگری زنگ می‌زند و خودش را برای شام دعوت می‌کند. در این حالت بایستی جای دیگری در نظر بگیریم و مقدار غذا را افزایش دهیم بدون آنکه وقفه‌ای در تهیه غذا ایجاد کرده باشیم. اگر این اتفاق در حین آماده سازی صورت پذیرد، خطا سریعا Interrupting Subprocess را فعال خواهد کرد تا برای قضیه اتفاق افتاده تصمیمی اتخاذ شود (برای مثال از بیرون سفارش داده شود). وقتی که Event Subprocess تکمیل شد، از Subprocess محصور آن خارج شده و غذا میل خواهد شد.
</p>
<p>
    در شکل ذیل نشان داده شده است که چگونه Event Subprocess در قالب یک Collapsed State نمایش داده شده است که در آن برای نشان دادن collapsed subprocess علامت + به پایین فعالیت اضافه شده است.
</p>
<img class="descImage fillImage" src="images/tutorial/EventSub2.png" />
<p>انواع رویدادهایی که می‌توانند Event Subprocess های وقفه ای و بدون وقفه را راه بیاندازند عبارتند از:</p>
<ul>

    <li>پیام (Message)</li>
    <li>زمان (Timer)</li>
    <li>Escalation</li>
    <li>شرط (Conditional)</li>
    <li>سیگنال (Signal)</li>
    <li>چندگانه(Multiple)</li>
    <li>چندگانه موازی (Multiple parallel)</li>
</ul>

<p>البته دو نوع دیگر از این رویدادها وجود دارد که تنها برای Interrupting وجود دارد:</p>

<ul>
    <li>خطا (error)</li>
    <li>جبران (Compensation)</li>
</ul>