<link rel="stylesheet" href="css/tutorial.css" />
<h1>Event Basic Concepts</h1>
<p>
    تا اینجا از بین 3 عنصر اصلي فرایند یعنی Task، Gateway و Event، دو مورد اول به طور کامل مورد بررسی قرار داديم. در این قسمت نوبت به معرفی Event ها می رسد. در مدل‌های فرایندی اهمیت Event ها بیشتر از دو مورد دیگر نباشد کمتر نیست و به همین دلیل در این بخش به معرفی آنها خواهیم پرداخت. به طور کلی Event ها به سه دسته start events، intermediate events و end events تقسیم می شوند که هرسه دسته خود نیز شامل دو نوع catching و throwing می باشند.
</p>
<p>
    Catching events رویدادهایی هستند که فعال كنننده آنها از قبل تعریف شده است. به عبارت دیگر، این رویدادها نقاطی هستند که نتیجه عملی که قبلا انجام شده است را دریافت نموده و از آن برای ادامه فرایند و یا شروع فرایند دیگری استفاده می کنند. از آنجایی که این رویدادها می توانند به عنوان یک نقطه مهم در فرایند بر روی کل مدل تاثیر بگذارند، از این رو دارای نقش مهمی در مدل های فرایندی می باشند، به گونه ای که Catching events می توانند منجر به :
</p>
<ul>
    <li>شروع یک فرایند شوند.</li>
    <li>ادامه یک فرایند و یا مسیری از یک فرایند شوند.</li>
    <li>اجرای یک فعالیت شوند و یا یک sub-process را لغو نمایند.</li>
    <li>در حين اجراي Taskو sub-process باعث شوند مسیر دیگری در فرایند اجرا شود .</li>

</ul>
<p>
    Throwing eventsرویدادهایی هستند که بر خلاف Catching events به عنوان نقاطی از فرایند که در آن یک محصول (خروجی) تولید شده و حال این محصول بایستی به قسمت دیگری از همان فرایند و با یک فرایند دیگر ارسال شود استفاده می شوند. در واقع Throwing events نقش ارسال کننده و Catching events نقش دریافت کننده را در این پروسه بازی می کنند. در واقع می توان گفت این رویدادها تا active هستند و Catching eventsها passive مي باشند . Throwing events می توانند :
</p>
<ul>
    <li>در حين فرايند فعال شوند.</li>
    <li>در انتهاي فرايند فعال شوند.</li>

</ul>
<p>
    علاوه بر مطالب بیان شده دربارهEvent ها، ما می توانیم intermediate event ها را به فعالیت‌ها attach کنیم. ضمیمه کردن intermediate event به فعالیت‌ها، می تواند منجر به ایجاد وقفه در task ها و sub-process ها شود. در این حالت ما intermediate event ها را بر روی لبه فعالیت‌هایی قرار می دهیم که می خواهیم تحت شرایط خاصی در آن فعالیت وقفه ای ایجاد شود كه به آنها boundary events نيز گفته مي شود.
</p>
<img class="descImage fillImage" src="images/tutorial/Events1.png" />
<ul>
    <li>فرض کنید در نمودار بالا با رسیدن به وظیفه 1 فرایند آغاز شود.</li>
    <li>اگر در حین اجرای وظیفه 1، event 1 رخ دهد، task1 سریعاً متوقف شده و از مسیر دیگر به سمت وظیفه 3 حرکت می کنیم.</li>
    <li>به عبارت دیگر، اگر event 1 دخ ندهد، وظیفه 1 اجرا خواهد شد و در مرحله بعد به سمت وظیفه 2 خواهیم رفت.</li>
    <li>همچنین اگر event 1 بعد از اینکه وظیفه 1 به طور کامل اجرا شد رخ دهد، این رویداد تاثیری بر مدل نخواهد گذاشت و می توان آنرا نادیده گرفت.</li>

</ul>
<p>
    در BPMN 1.2، به جز compensation event ها، سایر intermediate events قطعا باعث لغو شدن فعالیت‌ها خواهند شد و این در حالی است که در BPMN 2.0 نمادهای جدیدی در نظر گرفته شده است که intermediate event می توانند بدون ایجاد وقفه در مدل اتفاق بیفتند. هر چند این موضوع بسیار پیچیده می باشد ولی می تواند مفید واقع شود.
</p>
<img class="descImage fillImage" src="images/tutorial/Events2.png" />
<p>
    برای درک بهتر موضوع بالا به مثال زیر توجه نمایید:
</p>
<ul>
    <li>فرض کنید در نمودار بالا با رسیدن به وظیفه 1 فرایند آغاز شود.</li>
    <li>اگر event 1 در حالیکه وظیفه 1 در حال اجراست اتفاق بیفتد، این event یک همزاد تولید می کند. در این حالت اجرای وظیفه 1 در حالی ادامه می یابد که همزاد event به سمت وظیفه 3 حرکت می کند که باعث اجرای آن می شود. این پروسه ممکن است بارها تکرار شود، به عبارت دیگر event می تواند بارها اتفاق بیفتد که بر بار اتفاق منجر به تولید یک همزاد دیگر می شود.</li>
    <li>اگر event 1 رخ ندهد، وظیفه 1 کامل اجرا خواهد شد و با توجه به نمودار به سمت وظیفه 2 حرکت خواهیم نمود.</li>
    <li>اما اگر event 1 بعد از اینکه وظیفه 1 کامل اجرا شد رخ دهد، همانند حالت قبل این رویداد تاثیری بر مدل نخواهد گذاشت و می‌توان آنرا نادیده گرفت.</li>

</ul>
<p>
    در بخش بعدی، انواع event ها را که در مدل BPMN بکار گرفته می شوند توضیح خواهیم داد. همچنین در مورد نحوه واکنش event های مختلف در مواقعی که بعد از event-based gateway قرار می گیرند نیز توضیحاتی ارائه خواهد شد.
</p>