<link rel="stylesheet" href="css/tutorial.css" />
<h1>Event-based Gateways</h1>
<p>
    تا اینجا یاد گرفتیم که از exclusive data-based (XOR) gateway در مواقعی ک بخواهیم از بین مسیرهای موجود یک مسیر را با توجه داده های موجود برگزینیم استفاده می کنیم. در چنین مواردی کاربران از این درگاه استفاده می کنند اما BPMN، به ما ابزار دیگری را برای طراحی مسیرهای مختلف در یک فرایند معرفی کرده است که به آن event-based gateway یا به اختصار event gateway گفته می شود. این درگاه، پایه و اساس انتخاب مسیر را بر مبنای داده های موجود قرار نمی دهد بلکه بر اساس رویدادی ک در ادامه ظاهر می شود، مسیر فرایند را انتخاب می کند. برای درک بهتر مزیت بکارگیری این درگاه، فرایند نشان داده شده در زیر را درنظر بگیرید: فرض کنید ما یک پیتزا سفارش می دهیم و منتظر می مانیم تا تحویل داده شود. در این حالت زمانی می توانیم پیتزا را سرو کنیم که آنرا دریافت کرده باشیم، اما اگر تا 60 دقیقه بعد از سفارش، پیتزایی به ما تحویل داده نشد تکیف چیست؟ آیا نبایستی اقدامی کنیم؟ می‌توانیم این موضوع را در قالب نمودار زیر مدل کنیم:
</p>
<img class="descImage fillImage" src="images/tutorial/EventBasedGateway1.png" />
<p>
    همانطور که در شکل زیر دیده می شود، ضرورتی ندارد که بعد از event gateway فقط از رویدادهای میانی استفاده شود بلکه می توان از receive task ها نیز بعد از این درگاه استفاده نمود.
</p>
<img class="descImage fillImage" src="images/tutorial/EventBasedGateway2.png" />