<link rel="stylesheet" href="css/tutorial.css" />
<h1>Inclusive gateways</h1>
<p>
    در این قسمت می خواهیم فرایند درنظر گرفته شده برای مثالمان را انعطاف پذیرتر نماییم. فرض کنید وقتی که ما گرسنه هستیم، می خواهیم سرو کنیم :
</p>
<ul>
    <li>فقط یک سالاد را</li>
    <li>یک سالاد را به همراه یک غذای کامل تر مثل پاستا یا استیک</li>
    <li>فقط یک غذای کامل (بدون سالاد)</li>

</ul>
<p>
    برای درنظرگرفتن چنین حالتی در مدل فرایندی از data-based inclusive gateway که به اختصار به آن OR gateway نیز می گویند استفاده می شود که در نمودار زیر این حالت به تصویر کشیده شده است:
</p>
<img class="descImage fillImage" src="images/tutorial/InclusiveGateway.png" />
<p>
    در واقعیت، بکارگیری و استفاده از OR gateway ها به آسانی و راحتی مثالی که در اینجا بدان اشاره شد نمی باشد و در مواقعی که نیاز به تعریف شرط برای فرایند ها می باشد و یا مدل فرایند در قالب چندین صفحه ارائه شده است، بکارگیری و فهم این درگاه بسیار مشکل خواهد شد.
</p>