<link rel="stylesheet" href="css/tutorial.css" />
<h1>Lane</h1>
<p>
    تا اینجا بیشتر در مورد كارهايي که در فرایندها انجام مي دهيم بحث شد، اما هنوز توضیحی در مورد اینکه چه کسی مسئول انجام این كارها می باشد توضيحي داده نشده است. در BPMN این وظیفه را Lane ها به عهده دارند.
</p>
<img class="descImage fillImage" src="images/tutorial/Lane1.png" />
<p>
    نمودار بالانشان می دهد که وظایف در فرایند نمونه ما، به افراد خاصی اختصاص داده شده است. با توجه به نمودار می توان نتیجه گرفت که روال کاری فرایند به شرح زیر می باشد:
</p>
<p>
    ‌اگر کریستین گرسنه باشد، یک غذا انتخاب می کند. با توجه به آنکه انتخاب کریستین چه چیزی بوده است، دو حالت پیش می آید. در حالت اول کریستین ماکارونی می پزد و در حالت دوم کریستین می تواند از همکارانش کمک بگیرد که در این حالت فالکو وظیفه پختن استيك و رابرت وظیفه آماده کردن سالاد را بر عهده دارد. در پایان، کریستین غذا را سرو می کند. در این مثال، سه Lane به نام‌های کریستین و فالکو و رابرت در قالب یک Pool واحد تحت عنوان flat-sharing community قرار گرفته اند.
</p>
<fieldset>
    <legend>آیا بایستی به هر Lane یک نفر نسبت داد؟ </legend>
    <p>
        در مثال ذکر شده، Lane به افراد نسبت داده شد اما در BPMN این موضوع کلیت ندارد و شما می توانید Lane ها را تحت عناوین مختلف طراحی نموده و نسبت دهید. در عمل، Lane ها اغلب برای تخصیص عناوین زیر نسبت داده می شوند:
        <ul>
            <li>پوزیشن های شغلی در سازمان های بزرگ نظیر منشی حسابداری</li>
            <li>نقش های سازمانی در سازمان های متوسط نظیر افسر حفاظت اطلاعات</li>
            <li>نقش های کلی مانند مشتری</li>
            <li>بخش ها مانند بخش فروش</li>
            <li>برنامه های IT مانند سیستم CRM</li>
        </ul>
    </p>
</fieldset>
