<link rel="stylesheet" href="css/tutorial.css" />
<h1>Link Events</h1>
<p>
    از بین رویدادهای بکار رفته شده در BPMN، Link Event یکی از موارد خاص به شمار می رود و هیچ ارتباطی با محتوای فرایند ندارد اما روند نمودار فرایند را می تواند تسهیل ببخشد. همانطور که در شکل زیر نشان داده شده است، شما می توانید از دو Link مرتبط به هم به عنوان جایگزینی برای یک  Sequence Flow استفاده نمایید. در اینجا از یک Throwing Link Event به عنوان نقطه خروج استفاده و از سوی دیگر از یک Catching Link Event به عنوان نقطه ورود استفاده می شود و بدین ترتیب این دو رویداد را به عنوان یک جفت مرتبط با هم با و تحت عنوان یک اسم یکسان نامگذاری می کنیم که در مثال بالا هر دو رویداد A نامیده شده اند.
</p>
<img class="descImage fillImage" src="images/tutorial/Link1.png" />
<p>
    رویدادهای Link می توانند بسیار مفید باشند اگر:
</p>
<ul>
    <li>شما مجبور باشید نمودار فرایند را در چندین صفحه ترسيم كنيد. در این حالت Link ها خواننده را از یک صفحه به صفحه دیگر منتقل می کند.</li>
    <li>شما نمودارهای فرایند جامعی را با Sequnce Flowهاي فراوان رسم کرده باشید. در این حالت Link ها به ما کمک می کنند تا از به هم ریختگي نمودار اجتناب کنیم.</li>

</ul>
<p>
    نکته آخر اینکه Link Eventها تنها می توانند به عنوان Intermediate Event مورد استفاده قرار گیرند.
</p>