<link rel="stylesheet" href="css/tutorial.css" />
<h1>Link Events</h1>
<p>
    از بین رویدادهای بکار رفته شده در BPMN، رویداد link یکی از موارد خاص به شمار می رود و هیچ ارتباطی با محتوای فرایند ندارد اما روند نمودار فرایند را می تواند تسهیل ببخشد. همانطور که در شکل زیر نشان داده شده است، شما می توانید از دو link مرتبط به هم به عنوان جایگزینی برای یک جریان توالی استفاده نمایید. در اینجا از یک throwing link event به عنوان نقطه خروج استفاده و از سوی دیگر از یک catching link event به عنوان نقطه ورود استفاده می شود و بدین ترتیب این دو رویداد را به عنوان یک جفت مرتبط با هم با و تحت عنوان یک اسم یکسان نامگذاری می کنیم که در مثال بالا هر دو رویداد A نامیده شده اند. 
</p>
<img class="descImage fillImage" src="images/tutorial/Link1.png" />
<p>
    رویدادهای Link می توانند بسیار مفید باشند اگر:
</p>
<ul>
    <li>شما مجبور باشید نمودار فرایند را در بین چندین صفحه توزیع دهید. در این حالت Link ها خواننده را از یک صفحه به صفحه دیگر منتقل می کند.</li>
    <li>شما نمودارهای فرایند جامعی را با جریان های توالی فراوان رسم کرده باشید. در این حالت Link ها به ما کمک می کنند تا از بوجود آمدن جریان های توالی نامنظم و به هم ریخته اجتناب کنیم.</li>

</ul>
<p>
    نکته آخر اینکه رویدادهای Link تنها می توانند به عنوان رویدادهای میانی مورد استفاده قرار گیرند.
</p>