<link rel="stylesheet" href="css/tutorial.css" />
<h1>Message Events</h1>
<p>
    بیشتر فرایندها نیاز به ارتباطات دارند که این ارتباطات در BPMN می تواند از طریق Message Event نشان داده شود. شما می توانید این رویداد را از طریق پاکت نامه کوچکی که درون آن گنجانده شده تشخیص دهید. معنی Message در BPMN تنها به چیزهایی مانند نامه، ایمیل و یا تماس محدود نمی شود بلکه هر اقدامی که به محل خاصی اشاره داشته باشد و یا حاوی اطلاعاتی برای یک آدرس خاص باشد Message در نظر گرفته می شود.
</p>
<img class="descImage fillImage" src="images/tutorial/Message1.png" />
<p>
    سوالی که در اینجا ممکن است مطرح شود این موضوع می‌باشد که آیا می‌توانستیم فعالیت "سفارش پیتزا" را با یک "Throwing Message Event" تغییر دهیم؟
</p>
<img class="descImage fillImage" src="images/tutorial/Message15.png" />
<p>
    در پاسخ به این سوال بایستی بگوییم بله می توانستیم. اما بایستی به این نکته نیز توجه شود که بکارگیری و استفاده از Throwing Intermediate Event همیشه توصیه نمی‌شود، چراکه بکارگیری یک Send Message Activity بدون تصریح آن می‌تواند کاربران و مشتریان كم‌تجربه را گمراه کرده و به اشتباه بیاندازد. به همین دلیل در مدل بالا از یک Task (سفارش پیتزا) بجای یک Throwing Intermediate Event استفاده نمودیم. همچنین می‌توانیم در مدل بالا از انواع Task‌های خاص تعریف شده در BPMN برای پیام‌های دریافتی و ارسالی استفاده نماییم.
</p>
<p>
    در مثال زیر، می خواهیم نشان دهیم که یک Message چگونه می تواند منجر به لغو یک فعالیت شود. در این سناریو، می خواهیم یک برنامه تحت وب را اداره کنیم. زمانیکه یک کاربر به ما اطلاع می دهد که وبسایت کار نمی کند، ما سریعا به منظور یافتن خطا اقدام می کنیم. اما ممکن است کاربر اشتباه کرده باشد و وبسایت مشکلی نداشته باشد. برای مثال ممکن است اتصال اینترنت کاربر دچار مشکل شده باشد. اگر کاربر تماس بگیرد و اذعان کند که خطایی وجود نداشته و او به اشتباه گزارش خرابی داده است، در این حالت پروسه عیب یابی متوقف شده و به کاربر به علت هدر دادن وقت ما برخورد می شود. حال اگر واقعا خطا پیدا شود، ما خطا را برطرف نموده و به طور همزمان علت یا عامل بوجودآورنده خطا را شناسایی می کنیم. اگر خود کاربر باعث ایجاد خطا بوده باشد، ما می توانیم با او برخورد نماییم، اما اگر کاربر مقصر نبوده باشد، از او بابت مطلع کردن ما در مورد مشکل بوجود آمده قدردانی خواهیم نمود.
</p>
<img class="descImage fillImage" src="images/tutorial/Message2.png" />
