<link rel="stylesheet" href="css/tutorial.css" />
<h1>Parallel Gateway</h1>
<p>
    فرض کنید که تصمیم گرفته ایم که سالاد آماده نماییم. اگر بخواهید تنها به تهیه کردن سالاد فکر کنید و نه به هیچ چیز دیگری، شما می توانید مدل آنرا در قالب نمودار زیر مشاهده نمایید:
</p>
<img class="descImage fillImage" src="images/tutorial/ParallelGateway1.png" />
<p>
    به طور کلی زمان انجام کل فرایند برابر با مجموع زمان اجرای تک تک فعالیت های فرایند مربوطه می باشد که در مثال بالا، 48 دقیقه برای برای تهیه پاستا و 43 دقیقه برای تهیه استیک نیاز می باشد. تا اینجا شما اولین فرایند را براساس داده‌های کلیدی آنالیز نمودید. با توجه به مطالب گفته شده نتیجه می شود که بسته به نوع غذای انتخابی حداقل بایستی 23 دقیقه و یا حتی 28 دقیقه صبر نمود تا غذا اماده سرو شود که این موضوع کمی ناخوشایند به نظر می رسد، چرا که شما واقعا گرسنه اید و چنین حالتی یعنی انتظار برای سرو غذا اصلا خوشایند به نظر نمی رسد. در چنین حالتی چه کاری از دست شما برمی آید؟ در این وضعیت ممکن است شما در ابتدا سالاد را تهیه نکنید و برای پختن پاستا یا استیک اقدام نمایید. در چنین حالتی ممکن است شما در هر دو جبهه به طور موازی کار كنيد که در این حالت نماد مناسب برای کنترل این وضع Parallel Gateway یا AND Gateway می باشد که در زیر نمایش داده شده است:
</p>
<img class="descImage fillImage" src="images/tutorial/ParallelGateway2.png" />
<p>
    استفاده از Parallel Gateway در نمودارهای فرایندی شما را مجبور به انجام فعالیت ها به طور همزمان نمی نماید. از طرفی این ابزار همانطور که در نمودار بالا نشان داده شد، شما را مجبور نمی کند که حتماً سالاد را قبل از پاستا یا استیک تهیه نمایید. در واقع با تهیه این دو به موازای هم، زمان کلی برای سرو غذا 10 دقیقه کاهش می یابد. مثال ارائه شده در این قسمت نمونه ای از بهینه سازی فرایندهای کلاسیک بود که در آن سعی شده است فعالیت های مدل تا جایی که ممکن است به موازای هم انجام شوند.
</p>
<p>
    خودآزمایی: اگر فرایندی کاملاً مشابه با فرایند بالا داشته باشیم با این تفاوت که به علت کمبود فضا، Parallel Gateway دوم را از مدل حذف کنیم و مسیر فعالیت "Prepare Salad" به طور مستقیم به XOR ختم شود چه تغییری در تصمیمات ما برای ادامه مسیر و تصمیم‌گیری درخصوص انتخاب پاستا اتفاق می‌افتد؟
</p>
<p>
    در مثال بالا اگر Parallel Gateway دوم را از مدل حذف کنیم و هر سه فعالیت به یک XOR ختم شوند، به محض اینکه سالاد آماده شود XOR فعال شده و فعالیت سرو غذا اجرا می شود. این در حالیست که ممکن است 5 دقیقه بعد پخت پاستا نیز به اتمام برسد و با ورود به درگاه XOR فعالیت سرو غذا دوباره اجرا شود و این موضوعیست که اتفاق افتادن آن به هیچ عنوان مطلوب ما نیست.
</p>
<img class="descImage fillImage" src="images/tutorial/ParallelGateway3.png" />