<link rel="stylesheet" href="css/tutorial.css" />
<h1>Pool</h1>
<p>
    تا اینجا نحوه کامل استفاده از Lane و چگونگی تخصیص مسئولیت‌ وظایف و زیرفرایندهای مختلف به مدیران بخش ها توضیح داده شد. همانطور که بیان شد، در BPMN ، Lane ها همیشه درون یک Pool قرار می‌گیرند و یک Pool نشاندهنده سطح بالاتری (سطح جامع تری) در مقایسه با Lane می باشد چرا که هر Pool از چند Lane تشکیل شده است. در واقع Pool با توجه به ارتباط وظایف باهم ، هر وظیفه را به Lane مناسب تخصیص داده و از این طریق فرایند را کنترل می‌نماید.
</p>
<p>
    در نمودار زیر، مشاهده می‌شود که به محض اینکه Task1 در Lane رابرت تکمیل می‌شود، وظیفه 2 در فالکو Lane شروع می شود. همانطور که در نمودار مشاهده می‌شود، Task های هر بخش به صورت جداگانه در هر Lane تکمیل شده و درنهایت همه این Task ها منجر به انجام کل فعالیت در Pool Process conductor می شود.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool1.png" />
<p>
    آیا فکر می‌کنید چنین ساختاری غیرواقعی است؟ بسیاری از مدلسازان فرایند با تجربه با این طرز تفکر مشکل دارند. آنها ترجیح می‌دهند تا مجموعه فرایند بالا را در قالب شکل زیر مدل نمایند، با این فرض که هیچ ارتباط دهنده ای (Conductor) در بین بخش های مختلف شرکت وجود ندارد و بخش های مختلف به ناچار بایستی هماهنگی و همکاری بین بخش ها را به خودی خود ایجاد نمایند.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool2.png" />
<p>
    اما برای تعریف هماهنگی و همکاری بین بخشها در BPMN ، نیاز به مدلسازی صریح و روشن می‌باشد. برای این کار، بایستی به هر مسئول وظیفه یک Pool را اختصاص داده و روابط بین Pool ها را همانگونه که در شکل زیر مشاهده می شود، از طریق ارسال پیام نمایش داد. در نمودار زیر، با ارسال پیام از یک Pool ، فرایندهای مربوط به Pool دریافت کننده پیام شروع می‌شود.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool3.png" />
<p>
    رویه بیان شده در بالا پیچیده به نظر می رسد و در عمل نیز نیازی به استفاده از این روش جهت مدلسازی فرایندها نمی باشد و در این قسمت تنها برای تفهیم و کاربرد Lane ها در BPMN این مثال ارائه شد. با توجه به نقش کلیدی Lane ها در مدل های فرایندی و تسهیل ارتباط بخش های مختلف به یکدیگر، به راحتی می توان فرایندهایی را که دارای مسئول وظایف مختلفی می باشند را در قالب یک فرایند یکپارچه مدلسازی نمود. در واقع با استفاده از Lane ها می توان Pool ها و وظایفی که برای انتقال پیام بین بخش ها استفاده می شوند را حذف نموده و تنها از طریق جریان های عملیاتی فرایند را مدلسازی نمود (همانطور که در شکل 1 مشاهده شد). در ادامه، فواید بکارگیری این روش از طریق ارائه یک مثال بیشتر توضیح داده خواهد شد.
</p>
<p>
    همانطور که در شکل زیر مشاهده می شود، در این قسمت مدلسازی فرایندی با گذرگاه مبتنی بر رویداد ارائه خواهد شد.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool4.png" />
<p>
    حال فرض کنید که تصویر ابعاد بیشتری را نشان دهد و تجسم کنید که فرایند چگونه از نقطه نظر خدمات تحویل پیتزا اتفاق می افتد. احتمالا اینگونه به ذهن شما برسد که به محض اینکه سفارشی دریافت می شود، نسبت به پخت آن اقدام می شود. سپس فرد تحویل دهنده پیتزا را به مشتری تحویل داده و پس از گرفتن پول پیتزا، فرایند با موفقیت به اتمام می رسد.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool5.png" />
<p>
    حال ما می خواهیم دو فرایند را یعنی تعامل مشتری و خدمات تحویل را از یک دیدگاه بی طرفانه مورد بررسی قرار دهیم. به همین منظور، سعی کرده ایم که این تعامل را در قالب Pool و Lane هایی در قالب شکل زیر مدل نماییم:
</p>
<img class="descImage fillImage" src="images/tutorial/Pool6.png" />
<p>
    اما مدل ارائه شده در شکل بالا به درستی عمل نمی کنند. چرا که وظایف و رویدادهایی که در داخل Pool با یکدیگر در تعامل هستند بایستی در انتظار وظایفی نظیر تحویل پیتزا و یا دریافت پول باقی بمانند. از سوی دیگر وظایف دیگری نظیر پختن و خوردن پیتزا هستند که مستقل از سایر وظایف انجام شود و این موضوع از نظر ساختار فرایندی به هیچ عنوان صحیح نمی باشد. به همین دلیل، نمودار ارائه شده از نظر معنایی صحیح نمی باشد، چرا که رویدادهای پیامی همیشه به پیام های دریافت شده توسط خارج فرایند اشاره می کنند و این در حالیست که در این فرایند چنین وضعیتی وجود ندارد.
</p>
<p>
    اگر بخواهیم فرایند را براساس آنچه که گفته شد مدل نماییم، شمای کلی فرایند چیزی شبیه نمودار زیر می باشد. هردو فرایند در شکل ترکیبی زیر دقیقا شبیه حالت های اولیه خود قبل از اجرا می باشند با این تفاوت که در شکل زیر دو فرایند از طریق جریان هایی که حاوی پیام می باشند به یکدیگر وصل شده اند. BPMN این فرم از تجسم را نمودار همکاری می نامد که در واقع همکاری و ارتباط بین دو فرایند مستقل را نشان می دهند.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool7.png" />
<p>
    در شکل بالا، در دو مورد جریان های حاوی پیام به یک فعالیت با رویداد ختم نمی شوند و به خطوط حاشیه ای Pool وارد می شوند که اولین مورد مربوط به فعالیت call pizza delivery service و دومین مورد مربوط به فعالیت دریافت پول می باشد. منطقی که شاید بتواند مورد اول را توجیه نماید این می باشد که پرس و جوهای ما بر روی جریان توالی تحویل پیتزا تاثیری ندارد. در این حالت ممکن است خدمات پیتزا سرعت پردازش و ارائه اطلاعات را در پیش بینی سفارشات جدید لحاظ نماید اما فعالیت های پخت، تحویل و دریافت پول در اثر این پرس و جو هیچ تغییری نخواهند نمود. در مورد دوم نیز، یک نقص در مدل فرایندی مشتری وجود دارد و آن این است که بایستی قبل از خوردن پیتزا، پول آن پرداخت شود و این در حالیست که فعالیت پرداخت تعریف نشده است. در شکل زیر این فعالیت به نمودار اضافه شده و حال می توانیم جریان های حاوی پیام را مستقیماً به فعالیت pay for pizza متصل نماییم.
</p>
<img class="descImage fillImage" src="images/tutorial/Pool8.png" />
<hr />
<h1>Collapsing Pools</h1>
<p>
    اغلب اتفاق می افتد که ما از تمامی جزییات یک فرایند اطلاع نداریم. برای مثال ممکن است از تمامی جزییات فرایندهای شرکت خود اطلاع داشته باشیم اما از فرایندهای شرکت شریک اطلاع کافی نداشته باشیم. در این حالت تا زمانیکه شریک ما و ما به توافق فی مابین دو شرکت پایبند باشیم، همه چیز می تواند خوب پیش برود. همانطور که مشتریان انتظار دارند که خدمات تحویل پیتزا:
</p>
<ul>
    <li>
        سفارش های پیتزا را دریافت نمایند
    </li>
    <li>
        پیتزاهای سفارش داده شده را تحویل داده و پول آنها را دریافت نمایند.
    </li>
    <li>
        برای رسیدگی به پرس و جو و پیگیری ها در دسترس باشند.
    </li>
</ul>
<p>به عنوان یک مشتری، ما علاقه کمی برای آشنایی با چگونگی فرایند داخلی تحویل داریم. برای مثال ممکن است به محض اینکه پیتزا پخته شد به مشتری تحویل داده شود و یا ممکن است سفارش پیتزای دیگری نیز دریافت شود و پس از پختن، هر دو پیتزا با هم تحویل داده شوند که تصمیم گیری در مورد این موضوع مشکل تحویل دهنده است نه مشتری و ما به عنوان مشتری انتظار داریم که به سادگی و در اسرع وقت پیتزای سفارش داده شدمان را دریافت نماییم. در مدلسازی چنین مواردی، می توانیم فرایند تحویل را درنظر نگرفته و Pool آن را خالی در نظر بگیریم که به آن Collapsing Pools گفته می شود.</p>
<img class="descImage fillImage" src="images/tutorial/Pool9.png" />
<p>حال می توانیم یک گام فراتر برویم و Pool مربوط به مشتری را نیز Collapsing Pools درنظر بگیریم. در این حالت تنها می توانیم پیام های رد و بدل شده بین دو Pool را مشاهده کنیم و با توجه به جهت فلش ها، بایستی ایده کلی از فرایند بدست اوریم. در این حالت ما نمی توانیم وابستگی های بیشتر بین فعالیت ها را تشخیص دهیم . برای مثال در این حالت نمی توانیم ببینیم که آیا پیگیری ها و پرس و جوهای ما همیشه به نتیجه می رسد و یا تنها در موارد خاصی نتیجه می دهد:</p>
<img class="descImage fillImage" src="images/tutorial/Pool10.png" />