<link rel="stylesheet" href="css/tutorial.css" />
<style>
    ol li > .header {
        color: #428BCA;
    }

    ul li > .header {
        color: #ff6a00;
    }

    p {
        text-align: justify;
        line-height: 1.5;
        font-size: 16px;
    }

    ol, ul {
        margin-right: -20px;
        line-height: 1.2;
    }
</style>
<div class="post2" style="direction:rtl;padding:10px">
    <p>
        مدل‌سازي ابزاري است تا از طريق آن بتوان به راحتي روش انجام كارها و فعاليت‌ها را نمايش داد تا تحليل فرايند و درك آن براي شخص سوم آسان‌تر شود. نمادها و زبان‌هاي گرافيكي مختلفي براي اين منظور وجود دارد كه براي مثال به فلوچارت و UML مي توان اشاره كرد كه بيشتر در فرايند توليد نرم افزار استفاده مي شوند. BPMN نيز يكي از نمادهايي است كه براي مدل كردن واقعيت زندگي استفاده مي شود. از فرايندهاي ساده مثل فرايند سفارش پيتزا، يا فرايند گرفتن گواهينامه تا فرايندهاي پيچيده مثل فرايند پرتاب ماهواره به فضا.
    </p>
    <div style="text-align:center">
        <img class="descImage" style="width:100%" src="images/BPMN_E1.png" />
    </div>
    <p>در حالت کلی، یک فرایندهای كسب و كار مدلسازی شده در BPMN ، چهار جزء اصلی دارد:</p>
    <ol>
        <li>
            <b class="header">Flow Objects عناصر جریان فرایند</b>
            <div>
                <p>سه عنصركليدي دريك فرایند وجود دارد كه به عنوان Flow Objects شناخته می شوند. اين سه عنصر عبارتند از</p>
                <ul>
                    <li>
                        <b class="header">Event رويداد</b>
                        <div>
                            <p>
                                یک Event اتفاقي است که در طی اجرای یک فرایند رخ می دهد و بر جریان فرایند تأثیر می گذارد. آنها می توانند جریان فرایند را شروع (Start)، قطع (Intermediate) یا پایان (End) دهند
                                <br /> Eventها با دایره نشان داده می شوند و ضخامت حاشیه، يك خط بودن يا دوخط بودن و نقطه چين يا خط صاف بودن انها نشان دهنده نوع Event است.
                                <br />در شكل زير مي توانيد آناتومي Event را مشاهده نماييد
                                <br /><img class="descImage fillImage" src="images/EventAnatomy.png" />
                            </p>

                        </div>
                    </li>
                    <li>
                        <b class="header">Activity فعاليت</b>
                        <div>
                            <p>Activity نشان دهنده کاری است که در يك گام از اجرای فرایند انجام می‌شود و مي تواند بصورت Atomic (تک واحدی) یا  Compound (مرکب) باشد. Activityها می‌توانند یک بار اجرا شده و یا در یک حلقه تکرار شوند.</p>
                            <p>معمولا از مستطیل برای نشان دادن Activity استفاده می شود برای نشان دادن یک Sub Process از نماد `+` در مرکز پايين مستطيل استفاده مي‌شود</p>
                            <p>دو نوع فعالیت وجود دارد Task و Sub Process </p>
                            <ul>
                                <li><b class="header">Task</b><p>Task فعاليتي است که نمی توان آنرا به مراحل کوچکتری یا جزییات بیشتر تقسیم نمود</p></li>
                                <li><b class="header">Sub Process</b><p>.مجموعه فعالیتهایی هستند که امکان شكستن آنها به اجزاي كوچكتر وجود دارد. معمولا درون Sub Processها در فرایند، ترسيم نمي شوند و فقط از طریق علامت `+` می توان به Sub Process بودن آن پی‌برد اما در برخی مواقع Sub Process به صورت بازشده نیز نمایش داده می شود.</p></li>
                            </ul>
                            <div style="text-align:center">
                                <img src="images/Task.png" style="width:45%" />
                                <img src="images/SubProcess.png" style="width:45%" />
                            </div>

                        </div>
                    </li>
                    <li>
                        <b class="header">Gateway دروازه</b>
                        <div>
                            <p>
                                Gateway اجزایی از مدل‌سازی هستند که در جریان فرایند بکار گرفته مي‌شوند تا جریان فرایند را از طریق Decision (تصميم گيري) ، Forking (منشعب شدن) و  Merging (ترکيب شدن) و Joining (بهم پيوستن ) تغيير دهند. Gatewayها با لوزی نشان داده می شوند.
                            </p>
                        </div>
                        <div style="text-align:center">
                            <img src="images/Inclusive Gateway.png" style="width:30%" />
                            <img src="images/Exclusive Gateway.png" style="width:30%" />
                            <img src="images/Parallel Gateway.png" style="width:30%" />
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b class="header">Connecting Objects عناصر ارتباط دهنده</b>
            <div>
                <p>
                    Connecting Objectها برای اتصال اجزای جریان فرایند به یکدیگر يا به دیگر اطلاعات به کار می‌روند. سه دسته از عناصر ارتباط دهنده وجود دارد.
                </p>
                <ul>
                    <li>
                        <b class="header">Sequence Flow توالی جریان</b>
                        <p>که برای نمایش ترتیب و توالی انجام فعالیتها در یک فرایند بکار می رود</p>
                    </li>
                    <li>
                        <b class="header">Message Flow جريان پيغام</b>
                        <p>
                            که براي نمايش رد و بدل شدن Message بين دو Process Participants (مشاركت كننده فرايند) در یک فرايند به کار مي رود. Participantها در واقع حوزه های کاری، واحدهاي سازماني یا نقش هاي مستقل در کسب و کار مي‌باشند. مشاركت كنندگان فرايند معمولا به صورت Pool مدل مي‌شوند.
                        </p>
                    </li>
                    <li>
                        <b class="header">Association پیوند</b>
                        <p>
                            که برای ارتباط دادن داد ه‌ها، متن و سایر Artifactها با سایر اجزای جریان فرایند بکار می‌روند.
                        </p>
                    </li>
                </ul>
                <div style="text-align:center">
                    <img src="images/Association.png" style="width:30%" />
                    <img src="images/Message Flow.png" style="width:30%" />
                    <img src="images/Sequence Flow.png" style="width:30%" />
                </div>
            </div>
        </li>
        <li>
            <b class="header">Participants شركت كنندگان</b>
            <div>
                <p>
                    بسياري از زبان‌هاي مدلسازي از مفهوم Swim lanes براي سازمان دهي فعاليت‌ها در گروه‌ها استفاده مي‌كنند. اين نشان گرافيكي براي جداكردن تقش‌ها يا واحدهاي سازماني مختلف مورد استفاده قرار مي‌گيرد.
                </p>
                <p>
                    مسير جريان به دو نوع مختلف Pool و Lane تقسيم مي‌شود.

                </p>
                <ul>
                    <li>
                        <b class="header">Pool</b>
                        <p>
                            Pool برای مدل کردن مشاركت كنندگان مستقل در فرايند مانند واحدهای برون سازمانی، خریدار، فروشنده استفاده می‌شود، فعالیت‌هایی که در درون Pool های جداگانه رسم می شود، فرایندهای مستقل محسوب می شوند، بنابراين نمي‌توان از Sequence Flow براي نمايش جريان اطلاعات بين دو Pool استفاده كرد و به جاي آن بايد از Message Flow استفاده نماييد. در واقع Pool جعبه‌اي گرافيکي براي جداکردن فعاليت ها از سايرPoolها مي باشد.
                        </p>
                    </li>
                    <li>
                        <b class="header">Lane</b>
                        <p>
                            Lane بخشي در درون يک Pool است که براي شكستن Pool به واحدهاي كوچكتر استفاده مي شود و مي تواند افقي يا عمودي رسم شود.
                        </p>
                        <p>
                            در حقيقت Lane براي جداكردن فعاليت‌هايي كه به يك واحد يا نقش خاص در سازمان مربوط مي شود، به كار گرفته مي‌شود. هر Pool می تواند شامل Lane هايی برای دسته بندی فعالیتها باشد. همچنين مي توان هر Lane را به Laneهاي كوچكتر نيز شكست. براي نمايش جريان اطلاعات بين Laneها بايد از Sequence Flow استفاده نماييد.
                        </p>
                    </li>
                </ul>
                <div style="text-align:center">
                    <img src="images/Pool.png" style="width:45%" />
                    <img src="images/Lane.png" style="width:45%" />
                </div>
                <p>
                    در صورتی که بخواهیم فرایندهای داخل سازمان را مدل کنیم، یک Pool رسم كرده و برای هر واحد سازمانی یک Lane در آن Pool رسم مي‌كنيم. ولی در صورتی که ارتباط سازمان با شرکای برون سازمانی مثل مشتري يا تامين كننده را بخواهیم مدل کنیم باید از چند Pool جداگانه استفاده نماييد. در حالت اول ارتباطات بین Laneها از طریق Sequence Flow و در حالت دوم ارتباط بین Poolها از طریق Message Flow برقرار می شود. معمولا در مدل سازي درون Poolهاي مشتري يا تامين كننده مدل نمي شود و فقط سازمان خودمان را مدل مي كنيم كه به آن Collapsing Pool گفته مي شود.
                </p>
            </div>
        </li>
        <li>
            <b class="header">Artifacts محصولات</b>
            <div>
                <p>
                    در مدلسازی فرایندها از Artifact برای ارائه اطلاعات بیشتر در مورد نحوه ی انجام فرایند استفاده می شود

                </p>
                <ul>
                    <li>
                        <b class="header">Text Annotation </b>
                        <p>
                            برای نمايش اطلاعات تکمیلی درباره فرایند استفاده می شود. اين اطلاعات بيشتر به صورت يادداشت هستند که در مراحل مختلف مدل سازی براي نمايش اطلاعات بيشتر و يا يادآوري از آن استفاده می گردد.
                        </p>
                    </li>
                    <li>
                        <b class="header">Group </b>
                        <p>
                            برای دسته بندی کردن فعالیتهای فرایند استفاده می‌شود در واقع یک نمايش بصري برای مستند سازی و تحلیل راحت‌تر فراهم می‌کند.
                        </p>
                    </li>
                    <li>
                        <b class="header">Data Object</b>
                        <p>
                            برای نشان دادن اینکه داده‌ها، اسناد و . . . چگونه در طول فرایند ايجاد، استفاده یا تغيير پيدا مي‌كنند، به کار می رود.
                        </p>
                    </li>
                    <li>
                        <b class="header">Data Store</b>
                        <p>
                            ارتباط فرايند با پايگاه‌هاي داده را نمايش مي‌دهد.
                        </p>
                    </li>
                </ul>
            </div>
        </li>

    </ol>
</div>
