<link rel="stylesheet" href="css/tutorial.css" />
<h1>Signal Events</h1>

<p>
    Signal Event بسیار شبیه Message Event می باشد و در جاهایی که Message Event می تواند استفاده شود، این رویداد نیز مي تواند بکار گرفته شود. نماد این رویداد یک مثلث می باشد. در واقع تفاوت اصلی بین Message Event و Signal Event این می باشد که message همیشه به یک گیرنده خاص اشاره داده می شود (برای مثال یک ایمیل آدرس دریافت کننده ایمیل را شامل می شود و یا یک تماس تلفنی با شماره گیری یک شماره خاص شروع می شود و مثال‌هایی از این قبیل). یک Signal بیشتر شبیه یک تبلیغ در روزنامه و یا تلویزیون است. در واقع Signal برای آدرس و یا نفر خاصی ارسال نمی شود و هرکسی می تواند دریافت کننده آن باشد و اگر بخواهد می تواند نسبت به آن واکنش نشان دهد. بطور كلي در مورد Message فرسنده و گيرنده آن مشخص است ولي در مورد Signal فرستند و گيرنده ممكن است يكديگر را نشناسند.
</p>
<img class="descImage fillImage" src="images/tutorial/Signal1.png" />
<p>
    فرض کنید ما یک پیتزای یخ زده جدید را در تلویزیون دیده ایم و قصد داریم آن را امتحان کنیم. نمودار بالا این شرایط را نشان می دهد. ما پیتزا را می خریم اما آن را تا زمانی که واقعا گرسنه نشویم در فریزر نگه می داریم که این موضوع دقیقاً یک Conditional Event می‌باشد. بعد از امتحان کردن پیتزای جدید، ما به Pizzataste.ir می رویم تا در رتبه بندی محصولات جدید شرکت کنیم که این مورد نیز یک Signal می باشد چرا که گیرنده آن عموم مردم می‌باشند.
</p>