<link rel="stylesheet" href="css/tutorial.css" />
<h1>Signal Events</h1>

<p>
    رویداد Signal بسیار شبیه رویداد message می باشد و در جاهایی که رویداد message می تواند استفاده شود، این رویداد نیز بکار گرفته می شود که نماد این رویداد یک مثلث می باشد. در واقع تفاوت اصلی بین رویدادهای message و Signal این می باشد که message همیشه به یک گیرنده خاص آدرس داده می شود (برای مثال یک ایمیل ادرس دریافت کننده ایمیل را شامل می شود و یا یک تماس تلفنی با شماره گیری یک شماره خاص شروع می شود و مثال‌هایی از این قبیل). یک Signal بیشتر شبیه یک تبلیغ در روزنامه و یا یک تلویزیون تجاری است. در واقع Signal برای آدرس و یا نفر خاصی ارسال نمی شود و هرکسی می تواند دریافت کننده آن باشد و اگر بخواهد می تواند نسبت به آن واکنش نشان دهد. 
</p>
<img class="descImage fillImage" src="images/tutorial/Signal1.png" />
<p>
    فرض کنید ما یک پیتزای یخ زده جدید را در تلویزیون دیده ایم و قصد داریم آن را امتحان کنیم. نمودار بالا این شرایط را نشان می دهد. ما پیتزا را می خریم اما آن را تا زمانی که واقعا گرسنه نشویم در فریزر نگه می داریم که این موضوع دقیقاً یک conditional event می‌باشد. بعد از امتحان کردن پیتزای جدید، ما به Pizzatest.de می رویم تا در رتبه بندی محصولات جدید شرکت کنیم که این مورد نیز یک signal می باشد چرا که گیرنده آن عموم مردم می‌باشند.
</p>