<link rel="stylesheet" href="css/tutorial.css" />
<h1>Task</h1>
<p>
    تاکنون تنها از وظایفی که از نوع تعریف نشده بودند استفاده نمودیم و این در حالیست که BPMN امکان کار با انواع وظایف را برای استفاده کاربر فراهم می کند. در همین راستا، BPMN مجموعه‌ای از انواع وظایف را که از نظر فنی قابلیت اجرا شدن دارند شامل می شود که این مجموعه به وفور در فرایندهای عملی به کار گرفته می شوند که این مجموعه در مدلسازی های مهندسی بسیار مفید بوده و استفاده می شوند.
</p>
<img class="descImage fillImage" src="images/tutorial/Task1.png" />
<hr />
<h1>Task Markers</h1>
<p>
    علاوه بر انواع وظایف ارائه شده در شکل بالا، ما می توانیم با علامت گذاری وظایف از آنها به عنوان Loop، multiple instances و یا compensations استفاده نماییم که در ادامه به تفصیل آنها را توضیح خواهیم داد. در این رابطه، Marker ها می توانند با انواع مختلف وظایف ارائه شده ترکیب شوند.
</p>
<h2>Loop</h2>
<p>
    یک Loop task تا زمانی که شرایط تعریف شده یا اعمال و یا متوقف شود تکرار می شود. برای مثال ممکن است ما غذاهای مختلفی را آنقدر به میهمانان پیشنهاد دهیم تا در انتها یکی از آنها را انتخاب نمایند. حال می توانیم غذاهای مورد نیاز را آماده نماییم:
</p>
<img class="descImage fillImage" src="images/tutorial/Task2.png" />
<p>در این مثال ما Loop task را برای یکبار اجرا می کنیم و پس از آن بررسی میکنیم تا در صورت نیاز وظیفه را دوباره اجرا نماییم که برنامه نویسان برای انجام این کار از ساختار do-while استفاده می نمایند. همچنین می توانیم از ساختار while-do استفاده نماییم که در آن وظیفه قبل از اینکه اجرا شود چک می شود. هرچند مورد دوم به ندرت اتفاق می افتد اما در مواردی که وظیفه کلا قابل اجرا نیست این مورد رخ می دهد.</p>
<p>همچنین شما می توانید شرایطی که در آن یک Loop task برای اولین بار اجرا می شود را به وظیفه مورد نظر ضمیمه کنید و یا همانطور که در مثال نشان داده شده است، شرایط اعمال تکرارهای مجدد را برای اجرایی شدن وظیفه به عنوان یک یادداشت به وظیفه اضافه نمایید. در این حالت شما می توانید این شرایط را به عنوان یک ویژگی در یک زبان رسمی از ابزار BPMN خود نیز ذخیره کنید. این کار باعث می‌شود که اگر فرایند قابلیت اجرایی داشته باشد با استفاده از یک موتور فرایند اجرا شود.</p>
<h2>Multiple Instance</h2>
<p>چرخه های تکی در یک Loop task بایستی از یکدیگر تبعیت کنند. برای مثال ما با هم اتاقی هایمان برای ناهار به یک رستوران می رویم و قصد داریم از منوی رستوران غذای مورد علاقه خود را سفارش دهیم. در این حالت وظیفه "انتخاب غذا" قبل از اینکه ما بتوانیم سفارش دهیم بایستی انقدر برای هم اتاقی هایمان تکرار شود تا غذای مورد علاقشان را انتخاب نمایند. در طرف دیگر رستوران چند نفر دیگر که تعدادشان از شما بیشتر می باشد نیز منتظر انتخاب شما و دریافت و مشاهده منو جهت انتخاب غذا می باشند. در این حالت شما می توانید مدل فرایند را با یک multiple task به راحتی رسم نمایید (شکل ارائه شده در ادامه را ببینید). یک multiple task instantiates می تواند می تواند به صورت یک توالی و یا به صورت موازی بارها و بارها تکرار و اجرا شود که در حالت موازی بودن روال اجرایی فرایند جالبتر می شود.</p>
<img class="descImage fillImage" src="images/tutorial/Task2.png" />
<h2>Compensation</h2>
<p>compensation task type به طور انحصاری در زمینه جبران یک رویداد استفاده می شود. بر این اساس، این وظیفه در نمودار فرایند تنها توسط associations نشان داده می شودو به هیچ عنوان از جریان های ترتیبی استفاده نمی شود. </p>
<p>ترکیب احتمالی compensation با یک Loop یا Multiple Instance در شکل زیر نشان داده شده است. در این مورد، هر دو نشانگر به صورت موازی قرار می گیرند. همچنین compensation می تواند با سایر انواع وظیفه نیز استفاده شود. یک compensation نیز می تواند به صورت موازی بارها و بارها تکرار و اجرا شود تا در نهایت به موفقیت برسد.</p>