<link rel="stylesheet" href="css/tutorial.css" />
<h1>Task</h1>
<p>
    تاکنون تنها از Undefined Taskها که نوع آنها مشخص نشده است، استفاده نمودیم و این در حالیست که BPMN امکان کار با انواع Task برای اهداف مختلف فراهم می کند. در همین راستا، BPMN مجموعه‌ای از انواع Task را که از نظر فنی قابلیت اجرا شدن دارند را شامل می شود که این مجموعه به وفور در BPMSها به کار گرفته می شوند.
</p>
<img class="descImage fillImage" src="images/tutorial/Task1.png" />
<hr />
<h1>Task Markers</h1>
<p>
    علاوه بر انواع Task ارائه شده در شکل بالا، ما می توانیم با علامت گذاری وظایف توسط Markerها از آنها به عنوان Loop، Multiple Instances و یا Compensations استفاده نماییم که در ادامه به تفصیل آنها را توضیح خواهیم داد. در این رابطه، Marker ها می توانند با انواع مختلف Taskها ترکیب شوند.
</p>
<h2>Loop</h2>
<p>
    یک Loop Task تا زمانی که شرایط تعریف شده صادق باشد و یا اينكه متوقف شود، تکرار می شود. برای مثال ممکن است ما غذاهای مختلفی را آنقدر به میهمانان پیشنهاد دهیم تا در انتها یکی از آنها را انتخاب نمایند. حال می توانیم غذاهای مورد نیاز را آماده نماییم:
</p>
<img class="descImage fillImage" src="images/tutorial/Task2.png" />
<p>در این مثال ما Loop Task را برای یکبار اجرا می کنیم و پس از آن بررسی میکنیم تا در صورت نیاز Task را دوباره اجرا نماییم که برنامه نویسان برای انجام این کار از ساختار do-while استفاده می نمایند. همچنین می توانیم از ساختار while-do نيز استفاده نماییم که در آن وظیفه قبل از اینکه اجرا شود چک می شود. هرچند مورد دوم به ندرت اتفاق می افتد اما در مواردی که Task کلا قابل اجرا نیست این مورد رخ می دهد.</p>
<p>همچنین شما می توانید شرایطی که در آن یک Loop Task برای اولین بار اجرا می شود را به وظیفه مورد نظر attach کنید و یا همانطور که در مثال نشان داده شده است، شرایط اعمال تکرارهای مجدد را برای اجرایی شدن Task به عنوان یک یادداشت به Task اضافه نمایید. در این حالت شما می توانید این شرایط را به عنوان یک attribute در ابزار مدلسازي BPMN خود نیز ذخیره کنید. این کار باعث می‌شود که اگر فرایند قابلیت اجرا توسط ماشين را داشته باشد با استفاده از یک موتور فرایند (Workflow) اجرا شود.</p>
<h2>Multiple Instance</h2>
<p>فعاليت ها در یک Loop Task يكي پس از ديگري اجرا مي شوند. برای مثال ما با هم اتاقی هایمان برای ناهار به یک رستوران می رویم و قصد داریم از منوی رستوران، غذای مورد علاقه خود را سفارش دهیم. در این حالت وظیفه "انتخاب غذا" قبل از اینکه ما بتوانیم سفارش دهیم بایستی آنقدر برای هم اتاقی هایمان تکرار شود تا غذای مورد علاقه شان را انتخاب نمایند. در طرف دیگر رستوران چند نفر دیگر که تعدادشان از شما بیشتر می باشد نیز منتظر انتخاب شما و دریافت و مشاهده منو جهت انتخاب غذا می باشند. در این حالت شما می توانید مدل فرایند را با یک Multiple Task به راحتی رسم نمایید (شکل ارائه شده در ادامه را ببینید). یک Multiple Task دايم ايجاد مي شود و به صورت متوالی و یا به صورت موازی بارها و بارها تکرار و اجرا شود که موازی آن بسيار جالب است.</p>
<img class="descImage fillImage" src="images/tutorial/Task2.png" />
<h2>Compensation</h2>
<p>Compensation مسير جبران در صورتي كه در اجراي فرايند خطايي رخ دهد را نمايش مي دهد به نحوي مي توان گفت كه معادل Plan B است. و منحصرا با Compensation Eventها استفاده می شود، و فقط توسط Associations  به Activityها مرتبط مي شوند (توجه كنيد كه بر خلاف بقيه اجزا كه با Sequence Flow به يكديگر متصل مي شوند). </p>
<p>ترکیب كردن Compensation با یک Loop یا Multiple Instance در شکل زیر نشان داده شده است. در این مورد، هر دو Marker را تومان قرار می دهيم. همچنین Compensation می تواند با سایر انواع Task نیز استفاده شود. یک Compensation نیز می تواند به صورت موازی بارها و بارها تکرار و اجرا شود تا در نهایت به موفقیت برسد.</p>