<link rel="stylesheet" href="css/tutorial.css" />
<h1>Termination Events</h1>
<p>
    مثال ارائه شده در زیر را درنظر بگیرید. تا اینجا در مورد آنالیز شاخص کلیدی عملكرد (KPI) صحبت نمودیم و می دانیم که اجرای فرایند زیر 55 دقیقه به طول می انجامد. پس از وظیفه 1، وظیفه 2 و وظیفه 3 می توانند به طور همزمان شروع شوند و این در حالیست که اجرای وظیفه 2 نسبت به وظیفه 3 زمان بیشتری را می طلبد و به همین دلیل زمان اجرای کل فرایند را این فعالیت تعیین می کند. در این مثال زمانی که وارد Parallel Gateway می شویم هر دو مسیر به طور همزمان فعال می شوند. در این حالت بایستی 45 دقیقه برای اجرای وظیفه 2 و 30 دقیقه برای اجرای وظیفه 3 صرف نماییم. در ادامه 30 دقیقه طول می کشد تا وظیفه 3 اجرا شود، اما پس از اجرای این فعالیت، فرایند به اتمام نمی رسد و ادامه خواهد داشت. 15 دقیقه بعد، وظیفه 2 نیز تکمیل شده و کل زمان فرایند برابر با 55 دقیقه خواهد شد.
</p>
<img class="descImage fillImage" src="images/tutorial/Termination1.png" />
<p>
    حال كه مي دانيم بعد از تکمیل شدن وظیفه 3، وظیفه 2 دوباره اجرا مي شود، چه اتفاقی خواهد افتاد؟ این سوال موضوعی است که در اکثر فعالیت هایی که به موازای هم اجرا می شوند مطرح می شود. در چنین مواردی ما می توانیم الگویی که در ادامه ارائه شده است را بکار بگیریم:
</p>
<img class="descImage fillImage" src="images/tutorial/Termination2.png" />
<p>با استفاده از Termination Eventها اگر يكي از مسيرها به اين رويداد برسند فرايند خاتمه مي يابد.</p>