<link rel="stylesheet" href="css/tutorial.css" />
<h1>Timer Events</h1>
<p>
    Timer Event معمولا زمانی که با BPMN کار می کنیم استفاده می شود، چرا که این رویداد قابلیت انعطاف پذیری بالایی در فرایندها دارد. این رویداد با نماد ساعت نمایش داده می شود. نمودار زیر مثال هايي از کاربردهای این رویداد را نشان می دهد.
</p>
<img class="descImage fillImage" src="images/tutorial/Timer1.png" />
<p>
    از آنجایی که زمان بدون توجه به این موضوع که ما و یا فرایند قصد انجام چه کاری را داریم در گذر می باشد، از این رو Timer Eventها تنها می توانند به عنوان Catching Start Event و یا Intermediate Event استفاده شوند. شما می توانید با attach کردن یک Timer Event به یک فعالیت به طور خاص، شمارش معکوس در آن شبيه سازي كنيد که در مدل‌های BPMN از این خاصیت به مراتب استفاده می شود. در این حالت شما می توانید یک محدودیت زمانی برای حد بالای زمان اجرای فعالیت تعریف نمایید که نمونه ای از آن در نمودار زیر آورده شده است:
</p>
<img class="descImage fillImage" src="images/tutorial/Timer2.png" />
<p>
    در BPMN 2.0، رویداد جدیدی تحت عنوان Non-interrupting Timer Events در نظر گرفته شده است که در نسخه های قبلی وجود نداشت.
</p>
<img class="descImage fillImage" src="images/tutorial/Timer3.png" />